.cropsForDiagnoseContainer {
  height: 150px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cropsForDiagnoseContainer .context {
  font-family: "Itim", cursive;
  font-weight: 500;
  font-size: 23px;
  font-style: normal;
  display: flex;
  left: 10%;
}

.cropsForDiagnoseContainer .carouselWrapper {
  display: inline-block;
  width: 50vw;
  height: 90px;
  display: flex;
  user-select: none;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.cropsForDiagnoseContainer .carouselWrapper:hover .crops{
  animation-play-state: paused;
  cursor: pointer;
}

.cropsForDiagnoseContainer .crops {
  width: 70px;
  height: 90px;
  position: absolute;
  left: 100%;
  animation-name: scroll-left;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-delay: calc(20s/14 * (14 - var(--n)) * -1);
}

@keyframes scroll-left {
  to{
    left: -70px;
  }
}

@media (max-width: 1200px) {
  .cropsForDiagnoseContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
  }
}

@media (max-width: 950px) {
  .carouselWrapper {
    width: 270px;
    overflow: hidden;
  }
}

@media (max-width: 530px) {
  .carouselWrapper {
    width: 70vw;
  }
}

@media (max-width: 390px) {
  .carouselWrapper {
    width: 210px;
    overflow: hidden;
  }

  .carouselWrapper .crops {
    width: 50px;
    height: 50px;
    margin: 0px 10px;
  }
}
