.ForgotPasswordContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgotpassword{
    width: 30%;
    height: 50%;
    padding:2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
    border-radius: 1em;
    background-color: white;
    box-shadow: 2px 2px 5px white;
}
.forgotpassword form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
}
.forgotpassword img{
 width: 180px;
}
.forgotpassword h2{
    color: black;

}
.forgotpassword .forgotInput{
    all:unset;
    height: 40px;
    width: 200px;
    border:1px solid black;
    border-radius: 2em;
    color:black;
    padding-left: 0.5em;

}
.forgotpassword input:focus{
    all:unset;
    height: 40px;
    width: 200px;
    border: 1px solid blue;
    border-radius: 2em;
    color:black;
    padding-left: 0.5em;
}
.forgotpassword input::placeholder{
    padding-left: 0.5em;
}


/* Otp verification  */
.OtpContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.EnteringOtp{
    width: 30%;
    height: 50%;
    padding:2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 1em;
    gap:1em;
}
.EnteringOtp h3{
    color:black;
}
.EnteringOtp img{
    width: 180px;
}
.EnteringOtp .otp-blocks{
    display: flex;
    gap:0.5em;
}
.EnteringOtp form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
}
.EnteringOtp .otp-blocks input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.otp-blocks input:focus {
    border-color: #007bff;
}

/* PasswordResetting */
.newPasswordFunction{
    width: 30%;
    height:fit-content;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
   background-color:white;
   border-radius: 1em;
}
.newPasswordFunction h3{
    color:black;
}
.newPasswordFunction img{
    width:180px;
}
.newPasswordFunction form{
    display: flex;
    flex-direction: column;
    gap:1em;
}
.newPasswordFunction form input{
    all:unset;
    height: 40px;
    width: 200px;
    border:1px solid black;
    border-radius: 2em;
    color:black;
    padding-left: 0.5em;
}
.newPasswordFunction form input:focus{
    border: 1px solid blue;
}
