.loginWrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  box-sizing: border-box;

  .loginContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    padding: 32px;
    background-image: url("../images/background/signup/1.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 32px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
  }

  .header #logo {
    font-size: 50px;
    fill: black;
  }

  .header h3 {
    font-size: 25px;
    color: white;
    mix-blend-mode: difference;
  }

  .fieldContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
  }

  .userText,
  .passText {
    margin-left: 1.2em;
    font-size: 16px;
    color: rgb(8, 8, 8);
    opacity: 0;
    transition: all 0.35s ease;
  }

  .fieldContainer .login-input {
    all: unset;
    border: 2px solid rgb(7, 7, 7);
    background-color: #ffffff5a;
    backdrop-filter: blur(7px);
    border-radius: 2em;
    width: 100%;
    height: 2.5em;
    padding-left: 15px;
    transition: all 0.35s ease;
    /* cursor: pointer; */
  }

  .fieldContainer .login-userName-input{
    width: 93%;
  }

  .fieldContainer .login-input::placeholder {
    color: rgba(73, 72, 72, 0.742);
    font-style: italic;
    transition: all 0.35s ease;
  }

  .fieldContainer .login-input:focus::placeholder {
    opacity: 0;
  }

  .active {
    opacity: 1;
  }

  .fieldContainer .login-input:focus {
    border: 2px solid blue;
    /* Keep custom cursor */
  }

  .passwordField {
    position: relative;
    display: flex;
  }

  .password a {
    all: unset;
  }

  .password a p {
    color: rgb(17, 17, 247);
  }

  .showbutton {
    position: absolute;
    font-size: 25px;
    right: 5%;
    top: 17%;
    border: none;
    background: none;
    cursor: pointer;
  }

  .fieldContainer p {
    margin-top: 0.3em;
    margin-left: 0.6em;
    color: rgb(20, 19, 19);
    cursor: pointer;
  }

  .loginbutton button {
    all: unset;
    font-size: 22px;
    font-weight: 500;
    padding: 2px 15px;
    color: #d9efdb;
    background-color: #2e51327d;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.35s ease;
  }

  .loginbutton button:hover {
    filter: brightness(120%);
  }

  .dontAccount a {
    cursor: pointer;
    color: rgb(17, 17, 247);
  }
}

@media (max-width:430px) {
  .loginWrapper{
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    .loginContainer{
      padding: 16px;
      gap: 10px;
    }

    .header #logo{
      font-size: 36px;
    }

    .header h3{
      font-size: 18px;
    }

    .userText, .passText{
      font-size: 14px;
    }

    .fieldContainer{
      width: 80%;
    }

    .dontAccount{
      font-size: 13px;
    }

    .loginbutton button{
      padding: 2px 13px;
      font-size: 18px;
    }
  }
}

@media (max-height:525px) {
  .loginWrapper{
    /* width: 90%; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    .loginContainer{
      padding: 16px;
      gap: 10px;
    }

    .header #logo{
      font-size: 36px;
    }

    .header h3{
      font-size: 18px;
    }

    .userText, .passText{
      font-size: 14px;
    }

    .fieldContainer{
      width: 80%;
    }

    .loginbutton button{
      padding: 2px 13px;
      font-size: 18px;
    }

    .dontAccount{
      font-size: 13px;
    }

    .fieldContainer .login-input{
      height: 2.2em;
    }
  }
}

@media (max-height: 420px) {
  .loginWrapper{
    .loginContainer{
      padding: 16px;
      gap: 8px;
    }

    .header #logo{
      font-size: 32px;
    }

    .header h3{
      font-size: 17px;
    }

    .userText, .passText{
      font-size: 12.8px;
    }

    .fieldContainer{
      width: 80%;
    }

    .dontAccount{
      font-size: 12px;
    }

    .password a{
      font-size: 13.5px;
    }

    .showbutton {
      font-size: 24px;
    }
  }
}

@media (max-height: 390px) {
  .loginWrapper{
    .loginContainer{
      padding: 16px;
      gap: 6px;
    }

    .fieldContainer{
      gap: 0.5em;
    }

    .header #logo{
      font-size: 30px;
    }

    .header h3{
      font-size: 16px;
    }

    .userText, .passText{
      font-size: 12.5px;
    }

    .dontAccount{
      font-size: 12px;
    }

    .loginbutton button{
      padding: 2px 11px;
      font-size: 16px;
    }
  }
}

@media (max-height: 355px) {
  .loginWrapper{
    .fieldContainer .login-input{
      height: 2em;
      width: 90%;
    }

    .showbutton {
      font-size: 23.5px;
      right: 5.3%;
      top: 14%;
    }

    .header #logo{
      font-size: 30px;
    }

    .header h3{
      font-size: 16px;
    }

    .userText, .passText{
      font-size: 12.5px;
    }

    .dontAccount{
      font-size: 12px;
    }

    .loginbutton button{
      padding: 2px 11px;
      font-size: 16px;
    }
  }
}

/* @media (max-width:385px) {
  .loginWrapper{
    width: 80%;
  }
} */