.singupWrapper {
  box-sizing: border-box;
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;

  .star {
    color: red;
  }

  .signupContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    padding: 2em;
    background-image: url("../images/background/signup/1.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2em;
    scale: 0.8;
  }

  .signupfieldContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
  }

  .signupfieldContainer .inputboxes {
    all: unset;
    border: 2px solid rgb(7, 7, 7);
    border-radius: 2em;
    width: 60%;
    height: 2.5em;
    padding-left: 15px;
    transition: all 0.4s;
  }

  .inputboxes:focus {
    border: 2px solid blue;
  }

  .inputboxes::placeholder {
    color: rgba(2, 2, 2, 0.429);
    font-style: italic;
  }

  .fieldwrapper {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
  }

  .fieldwrapper label {
    color: black;
    margin-left: 1.3em;
  }

  .passwordfield {
    position: relative;
  }

  .showButt {
    position: absolute;
    font-size: 25px;
    left: 55%;
    top: 21%;
    border: none;
    background: none;
    cursor: pointer;
  }

  .password-constraints {
    background-color: rgb(185, 179, 179, 0.3);
    border-radius: 1em;
    padding: 0.5em;
    backdrop-filter: blur(8px);
    width: 65%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 0.4em;
    column-gap: 0.9em;
    grid-template-columns: 1fr 1fr;
  }
  
  .password-constraints p {
    font-size: 12px;
  }
  .addressWrapper label {
    color: black;
    display: block;
  }
  .addressWrapper {
    display: flex;
    gap: 1em;
  }
  .selection select {
    border: unset;
    border: 2px solid rgb(7, 7, 7);
    border-radius: 2em;
    width: 240px;
    padding-left: 15px;
    font-size: 14px;
    height: 3em;
    cursor: pointer;
    transition: all 0.4s;
  }
  .selection select:hover,
  .selection select:focus {
    border: 2px solid blue;
  }
  .agreement {
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: 50%;
  }
  .agreement label {
    color: black;
    font-size: medium;
  }

  .agreement input {
    height: 3 0px;
    width: 30px;
  }

  .submitButton {
    display: flex;
    justify-content: center;
  }
  .submitButton button {
    all: unset;
    border: 2px solid black;
    font-size: 21px;
    padding: 2px 15px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 2em;
    background-color: #2e51326e;
    transition: all 0.4s;
  }
  .submitButton button:hover {
    filter: brightness(130%);
  }
  .or {
    display: flex;
    justify-content: center;
  }
  .googleButton {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .googleButton #google {
    font-size: 25px;
  }
  .googleButton a {
    all: unset;
    border: 2px solid black;
    border-radius: 2em;
    padding: 0.3em;
    display: flex;
    gap: 0.5em;
  }
  .googleButton span {
    font-size: 16px;
    align-self: center;
  }
  .dontAccount a{
    cursor: pointer;
  }
}
@media (max-width: 500px) {
  .singupWrapper {
    scale: 0.8;
    margin: auto;
  }
}
