.weatherContainer {
  width: fit-content;
  padding: 20px 20px 5px 5px;
  background-color: rgb(212, 206, 206);
  box-shadow: 0px 0px 15px rgba(64, 75, 64, 0.347);
  display: flex;
  margin: 2em 1em 3em 1em;
  gap: 2%;
  border-radius: 1em;

  .weatherContainer .title {
    font-size: 16px;
    font-weight: 600;
  }

  table {
    width: 220px;
    display: flex;
    justify-content: center;
    border-spacing: 10px 10px;
    position: relative;
    bottom: 2vh;
  }

  .extraContent {
    td {
      padding: 6px 0;
    }

    .c {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 8px;
    }

    .data {
      font-size: 14px;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
    /* align-items: center; */
  }

  .weatherDetail {
    font-size: 15px;
    color: rgb(22, 23, 24);
  }

  .mainDetails {
    display: flex;
    align-items: center;
  }

  .weatherIcon {
    width: 100px;
  }

  .temp {
    margin-top: 10px;
    font-size: 31px;
    font-weight: 600;
  }

  .realFeel {
    font-size: 14px;
  }

  .sideDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 950px) {
  .weatherContainer {
    width: fit-content;
  }
  .mainDetails {
    display: flex;
    flex-direction: column;
  }
  .weatherContainer table {
    margin: auto;
  }
}

@media (max-width: 480px) {
  .weatherContainer {
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .weatherContainer .mainDetails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    right: 9.5px;
  }
}

@media (max-width: 390px) {
  .weatherContainer {
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
