.navWraper {
  header {
    position: fixed;
    border-radius: 5px 5px 20px 20px;
    left: calc(50% - 47.5%);
    top: 0px;
    width: 95%;
    z-index: 20;
    padding: 5px 5% 8px 5%;
    user-select: none;
    background-color: rgba(14, 98, 14, 0.66);
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 15px rgba(64, 75, 64, 0.844);
  }

  .side-menu{
    width: 22.5px;
  }

  .modebutton {
    all: unset;
    padding: 0;
  }

  img {
    display: block;
  }

  nav .title {
    margin-left: 7px;
    font-weight: 600;
    opacity: 0.9;
    font-size: 24px;
    text-decoration: none;
    color: rgb(255, 252, 252);
  }

  nav .pp {
    width: 35px;
    border-radius: 50%;
    /* margin-right: 10px; */
    cursor: pointer;
  }

  nav {
    display: flex;
    align-items: center;
  }

  nav .options {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 32px;
  }

  nav .extraOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
  }
  .deactive {
    display: none;
  }

  nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }

  nav ul a {
    position: relative;
    text-decoration: none;
    color: rgb(255, 252, 252);
    cursor: pointer;
  }

  nav ul a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    right: 50%;
    height: 1.5px;
    background-color: rgba(255, 255, 255, 0.808);
    transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
  }

  nav ul a:hover::after {
    left: 3.5%;
    right: 3.5%;
  }

  nav .notif {
    width: 30px;
    cursor: pointer;
    transition: 0.3s;
  }

  .options img.pp.active {
    transform: scale(1.1);
  }

  .options img.pp {
    transition: transform 0.2s ease;
    cursor: pointer;
  }

  .options img.pp:hover {
    transform: scale(1.1);
  }

  .options img.notif:hover {
    transform: scale(1.1);
  }

  .SideMenuBar {
    color: black;
    font-size: 28px;
    margin-right: 3%;
  }
  .sidemenuDark {
    color: white;
    font-size: 28px;
    margin-right: 3%;
  }
}
/* .menu{
      height: 27.5px;
      width: 27.5px;
      margin-right: 16px;
      cursor: url('../../icons/leafPointer.svg'), pointer;
  } */


@media (max-width: 768px) {
  .navWraper header{
    height: 50px;
    top: 5.5px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgba(64, 75, 64, 0.844), 0px -3px 15px rgba(64, 75, 64, 0.484);
  }
  nav{
    margin-top: 3.5px;
  }
}

@media (max-width: 470px) {
  .navWraper nav .title {
    font-size: 20px;
  }
  .navWraper nav .extraOptions{
    gap: 18px;
  }
  .navWraper nav .notif {
    width: 29px;
  }
  .navWraper nav .pp {
    width: 33px;
  }
  .navWraper nav .modebutton img{
    width: 30px;
  }
}
@media (max-width: 420px) {
  .navWraper nav .title {
    font-size: 19.5px;
  }
  .navWraper nav .modebutton img{
    width: 26px;
  }
  .navWraper nav .notif {
    width: 26px;
  }
  .navWraper nav .pp {
    width: 33px;
  }
  .navWraper .SideMenuBar {
    color: black;
    font-size: 24px;
    margin-right: 3%;
  }
}
