
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/new-post.css">
   <title>Create New Post</title>
</head>
<body>
   <header>
      <h1>Create a New Post</h1>
      <a href="/posts">Back to posts</a>
   </header>
   <main>
      <form action="/new-post" method="POST" enctype="multipart/form-data">
        <div>
         <input type="text" name="username" placeholder="Your Name" required>
        </div>
        <div>
         <textarea name="content" placeholder="Write your post content here..." required></textarea>
        </div>
        <div>
         <label for="image">Upload Post Image (optional):</label>
         <input type="file" name="image" id="image" accept="image/*">
        </div>
         <button type="submit">Submit Post</button>
      </form>
   </main>
</body>
</html>
