.diagnosis-container {
  text-align: center;
  margin: 20px;
}

.preview-image {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

.result-text {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.diagnosis-container {
  text-align: center;
}

.modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
}
